*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif, Helvetica, Arial, Verdana;
}

body {
    background:url(../Assets/BCK_GRND.jpg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s ease-in-out;
}

.container {
    padding: 1em; 
  }

svg {
    background:url(../Assets/BCK_GRND.jpg);
    width:40vmin; height:auto;
    display:block;
    margin:10vmin;
    border-radius: 50%;
    transition-delay: 3s;
    transition: 0.3s ease-in-out;
    rotate: -10deg;
}

svg:hover {
    width:60vmin; height:auto;
    display:block;
    margin:10vmin;
    border-radius: 10%;
    transition: 0.3s ease-in-out;
    rotate: -20deg;
}

.font1 {
    font-size: 4px;
    transition: 0.3s ease-in-out;
}

svg:hover .font1 {
    transition:font-size .1s ease-in;
    font-size: 12px;
    font-weight:bolder;
    color: black;
}

.font2 {
    font-size: 8px;
    transition: 0.2s ease-in-out;
}

svg:hover .font2 {
    transition:font-size .3s ease-in;
    font-size: 15px;
}

.font3 {
    font-size: 3px;
    transition: 0.2s ease-in-out;
}

svg:hover .font3 {
    transition:font-size .5s ease-in;
    font-size: 4px;
}

rect:hover {
    background-color: white;
}

/* *** Text *** */

.mission {
    animation: mymove 5s infinite;
    text-align: right;
    padding: 0rem 5rem 5rem 50rem;
    transition: 1s ease-in;
    transition: 1s ease-out;
    color: #ff71cb;
    font-weight: lighter;
    letter-spacing: 0.3rem;
    line-height: 2rem;
    font-size: 1.2rem;
}

@keyframes mymove {
    50% {font-size: 40px;
        color: #9e76f1;
        letter-spacing: 0.3rem;
        line-height: 2rem;
        font-size: 1.2rem;
    }
  }